<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTusSBiEwX78kXx-BkyvJx_Zc6QHGh-d0</string>
	<key>GCM_SENDER_ID</key>
	<string>424845692891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkygram</string>
	<key>PROJECT_ID</key>
	<string>firechatapp-f09c8</string>
	<key>STORAGE_BUCKET</key>
	<string>firechatapp-f09c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424845692891:ios:e8d8e1d0ce7ee7866721fe</string>
</dict>
</plist>